In [15]:
import pandas as pd
from chefboost import Chefboost as chef
from chefboost.training import Training

In [16]:
df = pd.read_csv("tennis.txt")

In [17]:
df

     Outlook Temperature Humidity    Wind Decision
0      Sunny         Hot     High    Weak       No
1      Sunny         Hot     High  Strong       No
2   Overcast         Hot     High    Weak      Yes
3       Rain        Mild     High    Weak      Yes
4       Rain        Cool   Normal    Weak      Yes
5       Rain        Cool   Normal  Strong       No
6   Overcast        Cool   Normal  Strong      Yes
7      Sunny        Mild     High    Weak       No
8      Sunny        Cool   Normal    Weak      Yes
9       Rain        Mild   Normal    Weak      Yes
10     Sunny        Mild   Normal  Strong      Yes
11  Overcast        Mild     High  Strong      Yes
12  Overcast         Hot   Normal    Weak      Yes
13      Rain        Mild     High  Strong       No

In [18]:
config = {'algorithm': 'ID3'}

In [19]:
model = chef.fit(df, config)

ID3  tree is going to be built...
-------------------------
finished in  0.41554999351501465  seconds
-------------------------
Evaluate  train set
-------------------------
Accuracy:  100.0 % on  14  instances
Labels:  ['No' 'Yes']
Confusion matrix:  [[5, 0], [0, 9]]
Precision:  100.0 %, Recall:  100.0 %, F1:  100.0 %

In [20]:
chef.predict(model, ['Sunny', 'Hot', 'High', 'Weak'])

'No'

In [23]:
Training.findGains(df[df['Outlook'] == 'Sunny'].drop(columns = ["Outlook"]), config)

{'gains': {'Temperature': 0.5709505944546686,
  'Humidity': 0.9709505944546686,
  'Wind': 0.01997309402197489},
 'entropy': 0.9709505944546686}

In [24]:
df[df['Outlook'] == 'Sunny']

   Outlook Temperature Humidity    Wind Decision
0    Sunny         Hot     High    Weak       No
1    Sunny         Hot     High  Strong       No
7    Sunny        Mild     High    Weak       No
8    Sunny        Cool   Normal    Weak      Yes
10   Sunny        Mild   Normal  Strong      Yes